numpy==2.1.0
flask==3.0.3
flask-sqlalchemy==3.1.1
flask-jwt-extended==4.6.0
flask-cors==4.0.1
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pandas==2.2.3
openpyxl==3.1.2
requests==2.32.3
apscheduler==3.10.4
werkzeug==3.0.3
gunicorn==22.0.0
groq
pdfplumber
python-docx
pillow